<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bienvenido FCS-DINV</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- ========= SWIPER CSS ========== -->
    <link rel="stylesheet" href="">
    <!-- ========= CSS ========== -->
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <%- include('Navbar') %>

        <br>
        <div id="content">
            <section class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7">
                            <h3 class="stat2">Bienvenido Jorge</h3>
                        </div>
                        <div class="col-sm-5 d-flex">
                            <button class="btn btn-primary w-100 align-self-center"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar reporte</button>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <div class="d-flex">
                <div class="input-group search-box mx-auto">
                    <form class="form-inline position-relative mx-auto my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar registro">
                        <button class="btn-registro" type "submit"><i class="material-icons">&#xE8B6;</i></button>
                    </form>
                </div>
            </div>

            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h7 class="card-title stat2 font-weight-bold mb-0">Registros acumulados</h7>
                                    <br>
                                    <h9 class "text-danger"><i class="fa fa-plus-circle s2" aria-hidden="true"></i> 50 en total</h9>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h7 class="card-title stat2 font-weight-bold mb-0">Diagnóstico</h7>
                                    <br>
                                    <h9 class "text-danger"><i class="fa fa-pie-chart s2" aria-hidden="true"></i> Enfermo (%80)</h9>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h7 class="card-title stat2 font-weight-bold mb-0">Edad</h7>
                                    <br>
                                    <h9 class "text-danger"><i class="fa fa-users s2" aria-hidden="true"></i> 30 años</h9>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h7 class="card-title stat2 font-weight-bold mb-0">Sexo</h7>
                                    <br>
                                    <h17 class "text-danger"><i class="fa fa-universal-access s2" aria-hidden="true"></i> Masculino</h17>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-mix py-3">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h7 class="card-title stat2 font-weight-bold mb-0">Registros acumulados</h7>
                                        <br>
                                        <h9 class "text-danger"><i class="fa fa-plus-circle s2" aria-hidden="true"></i> 50 en total</h9>
                                    </div>
                                </div>
                                <div class="col-sm-3 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h7 class="card-title stat2 font-weight-bold mb-0">Diagnóstico</h7>
                                        <br>
                                        <h9 class "text-danger"><i class="fa fa-pie-chart s2" aria-hidden="true"></i> Enfermo-(%80)</h9>
                                    </div>
                                </div>
                                <div class="col-sm-3 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h7 class="card-title stat2 font-weight-bold mb-0">Edad</h7>
                                        <br>
                                        <h9 class "text-danger"><i class="fa fa-users s2" aria-hidden="true"></i> 30 años</h9>
                                    </div>
                                </div>
                                <div class="col-sm-3 d-flex my-3">
                                    <div class="mx-auto">
                                        <h7 class="card-title stat2 font-weight-bold mb-0">Sexo</h7>
                                        <br>
                                        <h9 class "text-danger"><i class="fa fa-universal-access s2" aria-hidden="true"></i> Masculino</h9>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row w-auto px-4">
                    <div class="col-sm-8">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h25 class="font-weight-bold mb-0 stat2">Scatter 1</h25>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="Serie" width="500" height="500"></canvas>
                                </div>
                                <div class="py-3">
                                    <canvas id="scatterChart" style="width:100%" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h10 class="font-weight-bold mb-0 stat2">Sugerencia diagnóstica</h10>
                            </div>
                            <h10 class="text-center stat2 mb-0">Outcome</h10>
                            <div class="card-body">
                                <!--Table-->
                                <table class="table c-matrix table-striped table-hover w-auto">

                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>+</th>
                                            <th>-</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->

                                    <!--Table body-->
                                    <tbody>
                                        <tr class="table-danger">
                                            <th class="stat2" scope="row">+</th>
                                            <td>TP</td>
                                            <td>FP</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="stat2" scope="row">-</th>
                                            <td>FN</td>
                                            <td>TP</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <!--Table body-->

                                    <!--Table foot-->
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <!--Table head-->
                                </table>

                                <br>
                                <h10 class="stat2 mb-0">Indicadores probabilísticos</h10>
                                <table class="table c-indicadores table-striped table-bordered table-hover py-3" style="width:100%">


                                    <thead class="py-3">
                                        <tr class="stat2">
                                            <th scope="col">Indicador</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Sensibilidad</th>
                                            <td>92.6%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Especificidad</th>
                                            <td>92.2%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">VPP</th>
                                            <td>96.3%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">VPN</th>
                                            <td>85.2%</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </div>
            </section>



            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js-scatter@1.1.4/Chart.Scatter.min.js" integrity="sha256-YovGxeRJSA9htNhiHHJdur9t3FWBj17sl2QdcoGMz3E=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>

            <script>
                let myCanvas1 = document.getElementById("Serie").getContext("2d");
                var dataFirst = {
                    label: "Car A - Speed (mph)",
                    data: [0.014852604, 0.03074566, -0.024203228, -0.015862083, -0.022738878, -0.02414932, -0.026541088, -0.03201237, -0.034986857, -0.038899384, -0.033935696, -0.043544997, -0.04079331, -0.044873174, -0.047185685, -0.043154757, -0.043706518, -0.040804926, -0.039121136, -0.038059585],
                    lineTension: 0.3,
                    fill: false,
                    borderColor: 'red'
                        // Set More Options
                };

                var dataSecond = {
                    label: "Car B - Speed (mph)",
                    data: [0.02, 0.015, 0.06, 0.06, 0.065, 0.03, 0.07],
                    fill: true,
                    borderColor: 'blue'
                        // Set More Options
                };

                var speedData = {
                    labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
                    datasets: [dataFirst, dataSecond]
                };


                var lineChart = new Chart(myCanvas1, {
                    type: 'line',
                    data: speedData
                });
            </script>

            <script>
                var ctx = document.getElementById("scatterChart");

                var myChart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'Chart 1',
                            data: [{
                                x: 1,
                                y: 2
                            }, {
                                x: 2,
                                y: 4
                            }, {
                                x: 3,
                                y: 8
                            }, {
                                x: 4,
                                y: 16
                            }],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 200, 0, 1)'
                        }, {
                            label: 'Chart 2',
                            data: [{
                                x: 1,
                                y: 3
                            }, {
                                x: 3,
                                y: 4
                            }, {
                                x: 4,
                                y: 6
                            }, {
                                x: 6,
                                y: 9
                            }],
                            showLine: false,
                            fill: false,
                            borderColor: 'rgba(200, 0, 0, 1)'
                        }]
                    },
                    options: {
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        backgroundColor: 'rgb(255, 99, 132)'
                    }
                });
            </script>


</body>

</html>