<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bienvenido FCS-DINV</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- ========= SWIPER CSS ========== -->
    <link rel="stylesheet" href="">
    <!-- ========= CSS ========== -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <%- include('Navbar') %>

        <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="Search here...">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
        <br>
        <div class="container">
            <h3 class="Welcome">Bienvenido(a) a la Dirección de Investigaciones</h3>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Política de privacidad
</button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>En mi calidad de titular de la información o como representante legal del paciente, autorizo a la FUNDACIÓN ABOOD SHAIO (en adelante la “Fundación”) a manejar mis datos personales o los de mi representado dentro de la aplicación
                                móvil ®FonoDx App (en adelante la “App móvil”), esto incluye el desarrollo del protocolo y/o estudio clínico o investigativo, seguimiento, y reporte del mismo.</p>
                            <p>Así mismo, manifiesto y acepto que:<br> i. La Fundación actuará como Responsable del Tratamiento de datos personales de los cuales soy titular y que podrá recolectar, usar, almacenar datos en plataformas en la nube, reportar,
                                analizar, conservar, recibir y tratar mis datos personales conforme a los términos del estudio clínico mencionado anterior y de acuerdo con los Términos y Condiciones de su POLÍTICA DE PRIVACIDAD Y TRATAMIENTO DE DATOS
                                PERSONALES junto a su POLÍTICA DE CONFIDENCIALIDAD, las cuales están disponibles en la página web www.shaio.org o en las instalaciones de la Fundación y en la plataforma de la App móvil.<br> ii. Es de carácter facultativo
                                responder preguntas que versen sobre Datos Sensibles o sobre menores de edad.<br> iii. Mis derechos como titular de los datos son los previstos en la Constitución y la ley, especialmente el derecho a conocer, acceder, modificar,
                                actualizar, rectificar y suprimir mi información personal, así como el derecho a revocar el consentimiento otorgado para el tratamiento de datos personales.<br> iv. Para cualquier inquietud, reclamo o información adicional
                                relacionada con el tratamiento de datos personales, puedo contactarme al correo electrónico info@shaio.org y/o notificaciones@shaio.org.<br> v. La Fundación garantiza la confidencialidad, libertad, seguridad, veracidad,
                                transparencia, acceso y circulación restringida de mis datos y se reservan el derecho de modificar los Términos y Condiciones de su POLÍTICA DE PRIVACIDAD Y TRATAMIENTO DE DATOS PERSONALES y su POLÍTICA DE CONFIDENCIALIDAD
                                en cualquier momento.<br></p>
                            <p>Teniendo en cuenta lo anterior, autorizo de manera voluntaria, previa, explícita, e inequívoca a la Fundación y a la App móvil para tratar mis datos personales para los fines legales, administrativos, investigativos, científicos
                                descritos en el estudio clínico y en los Términos y Condiciones de su POLÍTICA DE PRIVACIDAD Y TRATAMIENTO DE DATOS PERSONALES de conformidad con la Ley 1581 de 2012, Decreto Reglamentario No. 1377 de 2014, capítulo 25
                                del Decreto No. 1074 de 2015, y las demás normas que las modifiquen, complementen o sustituyan.</p>
                            <p>Además, autorizo de manera voluntaria, previa explícita e inequívoca a la Fundación y la App móvil para recoger, custodiar y manejar información sobre mi patología, antecedentes médicos, diagnóstico, pronóstico y manejo médico
                                con fines médicos, científicos e investigativos. Conozco que los datos que sobre mí se obtengan, serán administrados por la Fundación y la App móvil con el más alto nivel de protección, basado en plataformas de seguridad
                                internacional, asegurando la debida confidencialidad de dicha información, previniendo su vulneración en términos de seguridad de la información y evitando la consulta por parte de terceros no autorizados, salvo que esta
                                sea requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial, casos de urgencia médica o sanitaria o en aquellos casos regulados en el artículo 10 de la Ley 1581 de 2012.</p>
                            <p>Con la aceptación autorizo el tratamiento de mis datos para la finalidad mencionada y reconozco que los datos suministrados son ciertos y que no ha sido alterada ni omitida ninguna información.En este sentido, autorizo a la
                                Fundación a presentar información mediante llamadas telefónicas, correos electrónicos, mensajes de texto o a través de la App móvil, usando mensajes emergentes dentro de la pantalla de la misma.</p>
                            <p>Declaro que la información que se remita a mi dispositivo móvil o por correo electrónico tiene el carácter de información confidencial. Por lo expuesto, me comprometo a no revelar, difundir, comentar, analizar, evaluar, copiar
                                o realizar un uso diferente del previsto en el marco de la relación médico – paciente y la normatividad vigente.Sé que la App móvil, perse, no hace uso de cookies (enlaces a sitios web recurrentes) dentro de su entorno
                                móvil. Sin embargo, ésta podría utilizar enlaces a fuentes externas alojadas en internet, las cuales sí podrían contener cookies. Las cookies usadas en dichas plataformas externas no son responsabilidad de la App móvil.</p>
                            <p>Finalmente, declaro que he leído y comprendido perfectamente el texto anterior y que todos los espacios en blanco han sido diligenciados antes de mi firma y que he expresado mi consentimiento de forma libre, consciente y voluntaria.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Objetivo misional
</button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Objetivo misional
</button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>