<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DINV - FCS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Encrypt Password-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <!--CSS Style-->
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            margin: 0px;
        }
    </style>

</head>

<body>

    <form action="/registro" method="post">
        <div class="form-group mb-5">
            <h3 class="mb-3">Regístrese</h3>
            <input type="text" name="Cargo" placeholder="Cargo" id="cargoR" class="form-control mb-3" required>
            <input type="text" name="Celular" placeholder="Celular" id="celularR" class="form-control mb-3" required>
            <input type="text" name="Documento" placeholder="Documento" id="documentoR" class="form-control mb-3" required>
            <input type="text" name="Email" placeholder="E-mail" id="emailR" class="form-control mb-3" required>
            <!--<input type="date" placeholder="Fecha de registro" id="dateR" class="form-control mb-3" required>-->
            <input name=Fecha placeholder="Fecha de registro" class="form-control mb-3" type="text" onfocus=" (this.type='date')" onchange="this.blur();" id="date">
            <input type="text" name="Instituto" placeholder="Institución" id="institutoR" class="form-control mb-3" required>
            <input type="text" name="Nombre" placeholder="Nombre completo" id="nombreR" class="form-control mb-3" required>
            <input type="text" name="Pais" placeholder="Pais" id="paisR" class="form-control mb-3" required>
            <input type="password" name="Password" placeholder="Contraseña" id="passwordR" class="form-control mb-3" required>
            <button type="text" id="inputR" class="btn btn-outline-danger mb-3 py-1 w-100">Registarse</button>
            <a href="/" class="badge badge-pill badge-danger py-1 w-100">¿Ya tiene una cuenta?</a>
        </div>
    </form>




    <!------------------------Scripts------------------------>
    <!------------------------BootStrap 4.4.1---------------->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!--Custom code-->
    <script src="main.js"></script>
</body>

</html>